<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kanvas | Digital Art Gallery</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Lato:wght@300;400;600;700;900&display=swap" rel="stylesheet">
  <link href="../styles/hero.css" rel="stylesheet" >
  <style>
   
  </style>
</head>
<body>
  <div class="hero-bg">
    <h1 class="logo-text">
        🎨<span>k</span><span>a</span><span>n</span><span>v</span><span>a</span><span>s</span>
      </h1>
      
    <div class="hero-frames">
      <div class="frame frame1">
        <img src="../assets/frame2.jpg" alt="">
      </div>
      <div class="frame frame2">
        <img src="../assets/frame1.jpg" alt="">
      </div>
      <div class="frame frame3">
        <img src="../assets/frame3.jpg" alt="">
      </div>
      <div class="frame frame4">
        <img src="../assets/frame4.jpg" alt="">
      </div>

    </div>
    <div class="hero-text">
      <h1 class="hero-text-big">Where <span class="text-styled">Art 🖌️</span> Lives Online </h1>
      <p class="hero-text-small">Discover. Experience. Collect. — Art, Reimagined.</p>
      <button class="cta-btn">Explore Now</button>
    </div>
  </div>
</body>
</html>
